{% load static tailwind_tags%}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>

    <!-- IMPORTANT FOR MOBILE -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Load your custom theme colors -->
    <link rel="stylesheet" href="{% static 'style.css' %}">

    {% tailwind_css %}
</head>

<body class="bg-dark min-h-screen flex flex-col text-primary ">

    <!-- NAVBAR -->
    <nav class="bg-card border-b border-dark sticky top-0 z-50">
        <div class="w-full px-4 py-4 flex items-center justify-between mx-auto"
             style="max-width: 950px;">

            <h1 class="text-2xl font-bold text-accent tracking-wide">
                PayEase
            </h1>

            <div class="flex items-center space-x-3 text-sm">
                {% block navbar %}
                <a href="{% url 'ownerHome' %}" class="transition hover-accent">Owner</a>
                <a href="{% url 'tenantHome' %}" class="transition hover-accent">Tenant</a>
                {% endblock %}
            </div>

        </div>
    </nav>

    <main class="flex-grow">
        <div class="flex-col mx-auto w-full" style="max-width: 950px;">

            <div class="px-4 py-2">
                {% block back %}{% endblock %}
            </div>

            <div class="px-4 py-3">
                {% block building_details %}{% endblock %}
                {% block content %}{% endblock %}
            </div>

        </div>
    </main>

</body>
</html>
