{% extends "base/tenant_layout.html" %}

{% block title %}All Flats{% endblock %}

{% block navbar %}
<a href="{% url 'tenantDashboard' %}" class="hover-accent transition">Dashboard</a>
<a href="{% url 'logoutTenant' %}">
    <button class="px-2 py-1 rounded btn-red transition">
        Logout
    </button>
</a>
{% endblock %}

{% block content %}

<h1 class="text-3xl font-extrabold text-primary mb-8">
    Past Flats Details
</h1>

{% if messages %}
    {% for message in messages %}
        <div class="p-4 mb-4 rounded-xl text-primary bg-card border border-dark">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

<div class="space-y-6">

    {% for flat in tenant %}
    <div class="bg-card border border-dark rounded-2xl p-6 shadow">

        <!-- Building Name -->
        <h2 class="text-xl font-bold text-primary">
            {{ flat.flat.building.name }}
        </h2>

        <!-- Flat -->
        <p class="text-muted mt-1">
            Flat: <span class="text-primary font-medium">
                {{ flat.flat.flat_number }} ({{ flat.flat.flat_type }})
            </span>
        </p>

        <!-- Last Joined -->
        <p class="text-muted mt-1">
            Last Joined:
            <span class="text-primary">
                {{ flat.date_added|date:"F j, Y" }}
            </span>
        </p>

        <!-- Button -->
        <a href="{% url 'tenantFlatDetails' flat.flat.id %}">
            <button
                class="mt-4 px-5 py-2 rounded-lg shadow font-semibold transition btn-blue">
                View Flat Details
            </button>
        </a>

    </div>
    {% endfor %}

</div>

{% endblock %}
