{% extends "building/buildingDetails.html" %}

{% block title %}Edit Building{% endblock %}


{% block back %}
<a href="{% url 'buildingDetails' building.id%}" class="text-accent transition">Back</a>
{% endblock %}


{% block content %}
<h1 class="text-3xl font-extrabold text-center mt-6 mb-8 text-primary">
    Edit Building Details
</h1>

<div class="bg-card p-10 rounded-2xl border-dark shadow">
    {% if error %}
        <p class="mb-4 text-red-600 font-semibold">{{ error }}</p>
    {% endif %}


    <h2 class="text-2xl font-semibold text-primary mb-6">
        Building Details
    </h2>

    <form method="post" class="space-y-6">
        {% csrf_token %}

        <!-- Building Name -->
        <div>
            <label class="block font-semibold text-muted mb-1">Building Name</label>

            <input type="text" name="name" value="{{ building.name }}"
                   class="w-full p-3 rounded-lg bg-card text-primary border-dark transition"
                   onfocus="this.classList.add('border-light')"
                   onblur="this.classList.remove('border-light')">
        </div>

        <!-- Address -->
        <div>
            <label class="block font-semibold text-muted mb-1">Address</label>

            <textarea name="address" rows="3"
                      class="w-full p-3 rounded-lg bg-card text-primary border-dark transition"
                      onfocus="this.classList.add('border-light')"
                      onblur="this.classList.remove('border-light')">{{ building.address }}</textarea>
        </div>

        <!-- Cost -->
        <div>
            <label class="block font-semibold text-muted mb-1">Approx. Cost</label>

            <input type="number" name="cost" value="{{ building.cost }}"
                   class="w-full p-3 rounded-lg bg-card text-primary border-dark transition"
                   onfocus="this.classList.add('border-light')"
                   onblur="this.classList.remove('border-light')">
        </div>

        <!-- Save Button -->
        <button class="w-full px-6 py-3 rounded-xl shadow font-semibold transition btn-blue">
            Save Changes
        </button>

    </form>
</div>

{% endblock %}
